.autosearch{
  display: flex;
  flex-direction: row;
}

.autoinput{
  width: 400px;
  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  background-color: #fff;

  padding: 0.6em 1.4em 0.5em 0.8em;
  margin-bottom: 0px;

  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}